* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.div1 {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: aqua;    
}
.div2 {
    width: 30%;
    height: 30%;
    background-color: aquamarine;
    animation-name: animation1;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 2s;
}

@keyframes animation1 {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}